.todoitem {
  width: 100%;
  height: auto;
  min-height: 30px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #74737e;
  box-shadow: 0px 2px 5px black;
}

.todoitem_ligth--todoitem {
  background-color: #8a88a0;
}

.text--todoitem {
  width: 80%;
  height: auto;
  padding: 10px;
  overflow: auto;
}

.btn--todoitem  {
  width: 30px;
  height: 30px;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.btn--todoitem:hover {
  box-shadow: 0 0 7px black;
}

.check--todoitem:active {
  border: 2px solid #1C991C;
  box-shadow: 0 0 5px #1C991C;
}

.delete--todoitem:active {
  border: 2px solid #B92D2D;
  box-shadow: 0 0 5px #B92D2D;
}

.icon_check--todoitem {
  width: 30px;
  height: 30px;
  color: #008000;
}

.icon_delete--todoitem {
  width: 30px;
  height: 30px;
  color: #FF0000;
}

.todo-completed--todoitem {
  text-decoration: 2px line-through #1C991C;
}
