.home {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo_counter--home {
  width: auto;
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 10px;
  background-color: #5093a5;
  border: 1px solid #0cb2e0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  margin: 4px 0px;
  color: #181818;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container_btn-drop--todoadd {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.btn_drop-modal--todoadd {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px black;
  border: none;
  border-radius: 50%;
  /* background-color: #41ABDA; */
  /* background-color: #4d497e; */
  background-color: #5046c7;
}

.btn_drop-modal_ligth--todoadd {
  background-color: #353255;
}

.btn_drop-modal--todoadd:hover {
  box-shadow: 0 0 15px black;
}

.btn_drop-modal--todoadd:active {
  box-shadow: 0 0 20px black;
}

.icon_drop-modal--todoadd {
  width: 75%;
  height: 75%;
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {

  .container_btn-drop--todoadd {
    right: 30px;
  }

  .container_btn-drop--todoadd {
    width: 50px;
    height: 50px;
  }
  
}
