.home {
  width: 100%;
  height: auto;
  padding: 10px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-btn-drop_todo-add--home {
  width: 90%;
  height: auto;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
}

.btn-drop_todo-add--home {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #000000;
  background-color: #5046c7;
  cursor: pointer;
}

.btn-drop_todo-add--home:hover {
  box-shadow: 0 0 15px #000000;
}

.btn-drop_todo-add--home:active {
  box-shadow: 0 0 20px #000000;
}

.icon-drop_todo-add--home {
  width: 75%;
  height: 75%;
  color: #FFFFFF;
}

@media only screen and (max-width: 969px) {

  .container-btn-drop_todo-add--home {
    width: auto;
    z-index: 400;
  }

  .btn-drop_todo-add--home {
    width: 60px;
    height: 60px;
  }
  
}
