.todoadd {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
}

.disable {
  display: none;
}

.form--todoadd {
  width: 80%;
  max-width: 800px;
  height: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0cb2e0;
  border-radius: 5px;
  background-color: #302e2e;
}

.input--todoadd {
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin: 20px;
  padding-left: 8px;
  border: none;
}

.input--todoadd:focus {
  outline: 1px solid rgb(192, 192, 192);
}

.input--todoadd:focus::placeholder {
  color: #FFFFFF;
}

.btn--todoadd {
  width: 80px;
  height: 40px;
}

.container_btn-close--todoadd{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn_close-modal--todoadd {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_close-modal--todoadd:hover {
  box-shadow: 0 0 15px black;
}

.btn_close-modal--todoadd:active {
  box-shadow: 0 0 20px black;
}

.icon_close-modal--todoadd {
  color: #000000;
}
