.status {
  width: 90%;
  max-width: 240px;
  height: auto;
  padding: 20px;
  margin: 10px;
  background-color: #5093a5;
  border: 1px solid #0cb2e0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title--status {
  width: 100%;
  margin: 4px 0px;
  color: #181818;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
