.footer {
  width: 100%;
  height: auto;
  min-height: 100px;
  /* (por ahora) */
  display: flex;
  justify-content: center;
  border: 1px solid orange;
  background-color: #1F1E1E;
  position: absolute;
  bottom: 0;
}

.container_columns--footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.column--footer {
  width: 33%;
  height:200px;
  border: 1px solid green;
}
